*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(90deg, #222222,#636251);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 3rem;

    border-radius: 15px;

}
.botoes1,.botoes2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

button{
    padding: 15px;
    width: 10px;
    margin: 5px;
    border-radius: 10px;
    border: solid rgb(204, 204, 204) 0.5px;
}
.bnt-makeB{
    background-color: black;
    font-weight: bolder;
    color:aliceblue;
}
.bnt-soul{
    background-color: #a49e98;
    font-weight: bolder;
    color:#ffe783;
}
.bnt-intense{
    background-color: #805791;
    font-weight: bolder;
    color:#fff7c5;
}
.bnt-glam{
    background-image:linear-gradient(45deg,#fff3a9,#aba360);
}
.bnt-niina{
    background-color:#FFB6D3;
    color: #BF2256;
}
.bnt-qdb{
    background-color:#fae5ee;
    color: #000000;
}
.bnt-makeB,.bnt-glam,.bnt-intense,.bnt-niina,.bnt-soul,.bnt-qdb{
    width: 90%;
    cursor: pointer;
}
input{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: solid rgb(204, 204, 204) 0.5px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10rem ;
    margin-right: 10rem;

}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}
.superContainer{
    background-color: white;
    margin-left: 15rem;
    margin-right: 15rem;
    padding: 8px;
    margin-top: 8rem;
    border-radius: 15px;
}
.btnEnviar{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center; 
    text-align: center;
    cursor: pointer;
    padding: 10px;
    width: 20%;
    display: flex;
}
.btnEnviar:hover{
    background-color: rgb(66, 128, 79);
}