* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #bb4284, #fdc9f2);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.cabecalho {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.superContainer {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    margin: 0 auto;
}

h2, h3 {
    text-align: center;
    margin: 10px 0;
}
i{
    font-size: 20px;
    margin-left: 15px;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    gap: 10px;
}

input, .btnEnviar {
    padding: 10px;
    border-radius: 10px;
    border: solid 0.5px rgb(204, 204, 204);
    width: 100%;
    max-width: 250px;
}

.btnEnviar {
    background-image: linear-gradient(90deg,#c05b93, #f8afe8);
    text-align: center;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size:18px;
}

.btnEnviar:hover {
    background-image: linear-gradient(90deg,#f8afe8, #c05b93);

}

.resultado-container {
    padding: 10px;
    color: #000;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px;
    background-color: #ffffff;
    border: 1px solid #9da8e9;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.descricao-produto {
    margin-right: 20px; /* Espaço entre o texto e a imagem */
    margin-bottom: auto;
    width: 10px;
}

.notFind {
    background-color: #f8afe8;
}

p.e, p.r, p.c, p.p, p.d {
    background-color:#c05b93;
    margin-top: 3px;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    margin-top: 5px;/*voltar*/
    
}

#loader{
    color: #070707;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.admV{
    border: none;
    background-image: linear-gradient(90deg,#c05b93, #f8afe8);
    color: #000;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

.admV:hover{
    border: none;
    background-image: linear-gradient(90deg,#f8afe8, #c05b93);
    color: #ffffff;
}

img {
    margin: 10px auto;
    display: block;
    border-radius: 10px;
    max-width: 100%;
    width: 10rem;
    height: auto;
    margin-top: auto;
    margin-left: 5px;  
}

/* Responsividade */
@media (max-width: 768px) {
    .superContainer {
        margin: 0 1rem;
        padding: 1rem;
    }

    .form-container {
        align-items: stretch;
        padding: 1rem;
    }

    input, .btnEnviar {
        max-width: 100%;
    }

    h2, h3 {
        margin: 5px;
    }

    .cabecalho {
        font-size: 20px;
        margin: 1rem 0;
    }
}
